html {
  font-family: Georgia, 'Times New Roman', Times, serif;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar {
  display: none;
}

body {
  background-color: lightgrey;
}

h1 {
  padding: 20px 0 10px 0;
  margin: 0;
  font-size: 28px;
  color: rgb(12, 150, 127);
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
}

h2 {
  padding: 20px 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 28px;
  color:rgb(12, 150, 127);
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
}

h3 {
  padding: 20px 0 10px 0;
  margin: 0;
  font-size: 26px;
  color:rgb(12, 150, 127);
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
}

h5 {
  padding: 10px 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 25px;
  color:rgb(12, 150, 127);
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.navBuffer {
  padding-top: 25px;
}

/* https://stijndewitt.com/2018/06/12/pure-css-drop-shadow-on-scroll/ */

.header {
  position: sticky;
  top: -16px; 
  z-index: 1;
  height: 66px; /* 50 + 16 */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.header::before,
.header::after {
  content: '';
  display: block;
  height: 16px;
  position: sticky;
}

.header::before {
  top: 34px; /* 50 - 16 */
  box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
}
  
.header::after {
  background: lightgrey;
  top: 0;
  z-index: 2;
}

.navbar{
  position: sticky;
  top: 0px;
  height: 50px;
  width: 100%;
  padding: 0;
  margin-top: -16px;
  z-index: 3;
  background-color: white;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar button {
  border: white solid 1px;
  margin: 5px 10px 5px 5px;
}

.navbar-toggler-icon {
  border-color: white;
}

.navbar-header {
  margin: 0 10px;
}

.navbar-brand {
  background-color: rgb(12, 150, 127);
  color: white;
  font-weight: bold;
  margin: 0 auto !important;
  padding: 10px !important;
}

.navbar-nav {
  background: white;
}

.navbar-nav a.nav-link {
  padding-left: 5px;
}

.nav-link:focus, .nav-link:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}

.navbar-nav:nth-child(1) {
  padding-right: 10px !important;
}

.nav-item a {
  font-family: sans-serif;
  color: #828c94;
  font-weight: bold;
  padding-left: 5px;
}

.nav-item.dropdown.show .nav-link {
  background-color: #d3d3d3;
  color: #212529;
}

.dropdown-menu.show {
  max-height: 500px;
  transition: max-height 1s ease-in-out;
}

.dropdown-menu {
  display: block;
  padding: 0;
  max-height: 0;
  overflow: hidden;
  border: none;
  border-radius: none;
  transition: max-height 0.75s ease-in-out;
}

a.dropdown-item {
  padding-left: 15px;
}

.dropdown-toggle::after {
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out, transform 300ms ease-in-out;
}

.nav-item.dropdown.show .dropdown-toggle::after {
  transform: rotate(-180deg);
}

.imageNav-header {
  font-size: 25px;
  color:rgb(12, 150, 127);
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 600;
}

a img {
  margin: 4px;
  box-sizing: content-box;
  height: 44%;
  width: 44%;
}

.viz-info{
  background-color: white;
}

.vizPreviews {
  height: 100%;
  text-align: center;
  padding-bottom: 1rem;
}

.imgBorder {
  border: solid 2px rgb(12, 150, 127);
  border-radius: 3px;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(255,255,255);
} 

.textCenter {
  text-align: center;
}

.rowHeightFull {
  height: 100%;
}

.col-md-4.shade, .col-md-7.shade, .col-md-12.shade {
  box-shadow: 0px 2px 15px -7px rgba(0,0,0,0.5);
  margin-bottom: 56px;
}

#description-image {
  height: 100%;
  width: 100%;
}

#white-background{
  background-color: white;
}

#viz1 {
  border: 5px solid #555;
}

#container{
  background-color: grey 
}

th {
  text-align: left;
}

th:nth-child() {
  display: table-cell;
}

td:nth-child() {
  display: table-cell;
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}

/* X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1399px) and (min-width: 1200px) {

}

/* Large devices (desktops, 992px and up) */
@media (max-width: 1199px) and (min-width: 992px) {

}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 991px) and (min-width: 768px) { 
  .navbar{
    background-color:rgb(12, 150, 127);
  }
  
  .navbar-nav {
    padding: 20px;
  }

  .col-md-6 {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
  }

  th:nth-child(n+8) {
    display: none;
  }

  td:nth-child(n+8) {
    display: none;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 767px) and (min-width: 576px) {  
  .navbar{
    background-color:rgb(12, 150, 127);
  }
  
  .navbar-nav {
    padding: 20px;
  }

  th:nth-child(n+5) {
    display: none;
  }

  td:nth-child(n+5) {
    display: none;
  }
}

/* Broken devices (super small devices like Blackberries) */
@media (max-width: 575px) {  
  body {
    min-width: 250px;
    background-color: white;
  }

  h1 {
    padding: 10px 0 10px 0;
  }

  .header::after {
    background: white;
  }

  .navBuffer {
    padding-top: 0px;
  }

  .navbar{
    background-color:rgb(12, 150, 127);
  }
  
  .navbar-nav {
    padding: 20px;
  }

  .col-md-4.shade, .col-md-7.shade, .col-md-12.shade {
    box-shadow: 0px 2px 15px -7px rgba(0,0,0,0);
    margin-bottom: 25px;
  }

  th:nth-child(n+5) {
    display: none;
  }

  td:nth-child(n+5) {
    display: none;
  }
}
